@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
ul,
ol {
	list-style: none;
}
a {
	text-decoration: none;
}
body {
	overflow-x: hidden;
}
table {
	border-collapse: collapse;
}
// header 부문
#header {
	width: 100%;
	height: 120px;
	display: flex;
	.header_logo {
		width: 100%;
		height: 100%;
		margin: 0 auto;
		background-color: #333;
		h1 {
			width: 300px;
			height: 100%;
			margin: 0 auto;
			a {
				width: 100%;
				height: 55px;
				display: block;
				padding: 30px 0px;
				img {
					width: 291px;
					height: 55px;
				}
			}
		}
	}
}
.menu {
	.btnCall {
		position: fixed;
		bottom: 10px;
		left: 10px;
		z-index: 30;
		img {
			width: 50px;
			height: 50px;
		}
	}
	.menuMo {
		width: 100%;
		height: 100vh;
		position: absolute;
		top: 0;
		left: 0;
		visibility: hidden;
		z-index: 30;
		.inner1 {
			width: 30%;
			height: 100%;
			padding: 20px;
			position: absolute;
			top: 0;
			left: -30%;
			background-color: #333;
			opacity: 1;
			transition: all 1s;
			h1 {
				width: 100%;
				padding: 30px;
				margin-bottom: 20px;
				a {
					width: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					img {
						width: 291px;
						height: 55px;
					}
				}
			}
			.gnb_Mo {
				width: 100%;
				margin-bottom: 20px;
				position: relative;
				> li {
					width: 50%;
					padding: 25px;
					float: left;
					text-align: center;
					> a {
						width: 100%;
						display: block;
						padding: 15px;
						font: bold 20px/1 'Noto sans KR';
						color: #fff;
						border-bottom: 1px solid #fff;
					}
					.submenu {
						width: 100%;
						padding: 10px;
						> li {
							width: 100%;
							a {
								width: 100%;
								display: block;
								padding: 10px;
								font: 15px/1 'Noto sans KR';
								color: #fff;
							}
							&:hover {
								background-color: #fff;
								a {
									color: #333;
								}
							}
						}
					}
				}
			}
			.icon {
				width: 100%;
				padding: 70px 50px;
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 40px;
			}
			.close {
				position: absolute;
				top: 15px;
				right: 25px;
				font-size: 35px;
				color: #fff;
			}
		}
		.inner2 {
			width: 70%;
			height: 100%;
			position: absolute;
			bottom: 0;
			right: -70%;
			background-color: #fff;
			opacity: 0.9;
			transition: all 1s;
		}
		&.on {
			visibility: visible;
			z-index: 15;
			.inner1 {
				left: 0%;
			}
			.inner2 {
				right: 0%;
			}
		}
	}
}
// 1번 슬라이드 메뉴 부분
#main {
	width: 100%;
	height: calc(100vh - 120px);
	.main_slidemenu {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
		position: relative;
		article {
			flex: 1;
			height: 100%;
			transition: all 1s;
			position: relative;
			background-size: auto 100%;
			background-position: center;
			background-repeat: no-repeat;
			cursor: pointer;
			transition: flex 0.7s ease-in;
			&.on {
				flex: 4.5;
				.txt {
					opacity: 1;
					transition-timing-function: ease-in;
					transition-delay: 0.4s;
				}
				.submenu {
					opacity: 1;
					transition-timing-function: ease-in;
					transition-delay: 0.4s;
				}
			}
			.txt {
				position: absolute;
				bottom: 150px;
				left: 25px;
				opacity: 0;
				span {
					font: 20px/1 'Noto sans KR';
					color: #000;
				}
				h2 {
					font: bold 40px/1 'Noto sans KR';
					color: #000;
				}
			}
			.submenu {
				position: absolute;
				bottom: 100px;
				left: 25px;
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 15px;
				opacity: 0;
				li {
					border: 3px solid #333;
					border-radius: 20px;
					text-align: center;
					padding: 5px;
					position: relative;
					overflow: hidden;
					a {
						width: 100%;
						height: 100%;
						font: 15px/1 'Noto sans KR';
						color: #fff;
						display: block;
					}
					&::before {
						content: '';
						display: block;
						width: 130px;
						height: 30px;
						background-color: #ccc;
						position: absolute;
						transform: translateX(-130%) translateY(-25%) skew(-45deg);
						transition: all 0.5s;
					}
					&:hover {
						&::before {
							transform: translate(130%) translateY(-40%) skew(-45deg);
						}
					}
				}
			}
			&:nth-of-type(1) {
				background-image: url(../img/메인메뉴/동영상\ 시작\ 배경.jpeg);
			}
			&:nth-of-type(2) {
				background-image: url(../img/메인메뉴/b2_38.png);
			}
			&:nth-of-type(3) {
				position: relative;
				background-image: url(../img/메인메뉴/구강연구소-수정본.jpg);
				.txt {
					position: absolute;
					bottom: auto;
					top: 15px;
					left: 25px;
				}
				.submenu {
					position: absolute;
					bottom: auto;
					top: 90px;
					left: 25px;
					li {
						a {
							color: #000;
						}
					}
				}
			}
			&:nth-of-type(4) {
				background-image: url(../img/메인메뉴/커뮤니티_수정본.png);
				.txt {
					span {
						color: #fff;
					}
					h2 {
						color: #fff;
					}
				}
			}
		}
	}
}
// 2번 치료서비스 버튼
.service_slide {
	width: 100vw;
	height: 100vh;
	position: relative;
	.bg_container {
		width: 100%;
		height: 100%;
		position: relative;
		visibility: hidden;
		> li {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			img {
				width: 100%;
				height: 100%;
			}
			&.on {
				visibility: visible;
			}
		}
	}
	.service_ul {
		width: 100%;
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 15px;
		transform: translateY(-500px);
		> li {
			width: 200px;
			height: 400px;
			border: 2px solid #333;
			border-radius: 20px;
			z-index: 15;
			.li_wrap {
				width: 100%;
				height: 100%;
				padding: 10px;
				a {
					width: 100%;
					height: 100%;
					display: block;
					img {
						width: 100%;
						padding: 10px;
						display: block;
						justify-content: center;
						align-items: center;
						margin-bottom: 10px;
					}
					.txt {
						width: 100%;
						text-align: center;
						h3 {
							font: bold 20px/1 'Noto sans KR';
							color: #000;
							margin-bottom: 10px;
						}
						h4 {
							font: bold 18px/1 'Noto sans KR';
							color: #000;
							margin-bottom: 10px;
						}
						span {
							font: 14px/1.5 'Noto sans KR';
							color: #000;
							&:nth-of-type(1) {
								font-size: 13px;
							}
						}
					}
				}
			}
			&:hover {
				background-color: rgba(255, 255, 255, 0.5);
				box-shadow: 5px 5px 5px #000;
			}
		}
		&.on {
			&:nth-of-type(1) {
				&:hover {
					background-image: url(../img/슬라이드/구강내외과-슬라이드.jpg);
					background-position: center;
					background-repeat: no-repeat;
				}
			}
		}
	}
}
// 3번 GSAP 슬라이드 부분
.special {
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
	background-color: #fff;
	.wrap {
		width: 1500px;
		height: 100%;
		margin: 0 auto;
		.content {
			width: 1500px;
			height: 100%;
			position: relative;
			.title {
				width: 400px;
				height: 100%;
				position: relative;
				top: 0;
				left: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				.text {
					width: 100%;
					padding: 20px;
					text-align: left;
					p {
						font: normal 50px/1 'Noto sans KR';
						color: #333;

						strong {
							font: 40px/1.3 'Noto sans KR';
							color: #000;
						}
					}
					&::after {
						content: '';
						display: block;
						width: 250px;
						height: 2px;
						background-color: #333;
						margin: 30px 0px 30px;
					}
				}
			}
			.container {
				width: 100%;
				height: 100%;
				display: none;
				position: absolute;
				top: 100px;
				left: 0;
				.box {
					position: absolute;
					width: 2400px;
					height: 670px;
					display: flex;
					justify-content: space-between;
					border-radius: 10px;
					z-index: 15;
					.panel {
						width: 480px;
						height: 670px;
					}
				}
			}
		}
	}
}

.panel pre.prettyprint {
	font-size: 20px;
	text-align: left;
	width: auto;
	font-weight: normal;
	margin: 10px;
	border: none;
}
.prettyprint .linenums {
	padding: 0;
	list-style: none;
}
.prettyprint ol li {
	background-color: black;
}

.panel.red .prettyprint .linenums > li:nth-child(n + 7):nth-child(-n + 9),
.panel.gray .prettyprint .linenums > li:nth-child(10),
.panel.purple .prettyprint .linenums > li:nth-child(4),
.panel.green .prettyprint .linenums > li:nth-child(n + 6):nth-child(-n + 10) {
	background-color: #222;
}

.box {
	width: 100px;
	height: 80px;
	text-align: center;
	line-height: 80px;
	background-color: white;
	border-radius: 8px;
	color: #222;
	font-weight: 700;
	margin-left: 20px;
	will-change: transform;
}
.box.active {
	background-color: orange;
	border: 2px solid white;
}
.description,
.final {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	min-height: 80vh;
}

.container {
	width: 500%;
	height: 100vh;
	display: flex;
	flex-wrap: nowrap;
}

.panel {
	font-weight: 300;
}

// 4번 상담신청 및 주소 안내사항 푸터
#footer {
	width: 100vw;
	height: 100vh;
	background-color: #eee;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.left {
		width: 50%;
		height: 100%;
		padding: 80px 95px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		.telephone {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			line-height: 35px;
			h3 {
				flex: 1;
				text-align: left;
				display: flex;
				gap: 20px;
				i {
					font-size: 35px;
				}
				span {
					font: normal 35px/35px 'G마켓 산스 ttf';
					color: #000;
				}
			}
			h4 {
				flex: 1;
				font: normal 35px/35px 'G마켓 산스 ttf';
				color: #000;
				text-align: left;
			}
		}
		.talk {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			line-height: 35px;
			h3 {
				flex: 1;
				text-align: left;
				display: flex;
				gap: 20px;
				i {
					font-size: 35px;
				}
				span {
					font: normal 35px/35px 'G마켓 산스 ttf';
					color: #000;
				}
			}
			h4 {
				flex: 1;
				font: normal 24px/1 'G마켓 산스 ttf';
				color: #000;
				text-align: left;
			}
		}
		.time {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			line-height: 35px;
			h3 {
				flex: 1;
				text-align: left;
				display: flex;
				gap: 20px;
				i {
					font-size: 35px;
				}
				span {
					font: normal 35px/35px 'G마켓 산스 ttf';
					color: #000;
				}
			}
			.date_wrap {
				flex: 1;
				display: flex;
				flex-direction: column;
				gap: 15px;
				> div {
					flex: 1;
					font: normal 22px/1 'G마켓 산스 ttf';
					&:nth-of-type(1) {
						strong {
							letter-spacing: 23.5px;
						}
					}
					&:nth-of-type(3) {
						strong {
							letter-spacing: 8.5px;
						}
					}
					&:nth-of-type(4) {
						strong {
							letter-spacing: 1.5px;
						}
					}
					&:nth-of-type(5) {
						strong {
							letter-spacing: 1px;
						}
					}
				}
			}
		}
		.address {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			line-height: 25px;
			h3 {
				width: 20%;
				font: normal 25px/1 'G마켓 산스 ttf';
				color: #000;
				text-align: left;
			}
			h4 {
				width: 80%;
				font: normal 25px/1 'G마켓 산스 ttf';
				color: #000;
				text-align: right;
			}
		}
		.copy {
			width: 100%;
			span {
				font: normal 20px/1 'g마켓 산스 ttf';
			}
		}
	}
	.right {
		width: 50%;
		height: 100%;
		padding: 10px 95px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		#map {
			width: 100%;
			height: 400px;
			border: 1px solid #000;
		}
		.reservation {
			width: 75%;
			margin: 0 auto;
			h4 {
				width: 100%;
				text-align: center;
				font: bold 30px/1 'g마켓 산스 ttf';
				color: #000;
				margin-bottom: 10px;
			}
			fieldset {
				width: 100%;
				padding: 10px;
				border: none;
				border-top: 3px solid #333;
				border-bottom: 3px solid #333;
				> .table_1 {
					width: 100%;
					tr {
						width: 100%;
						th {
							width: 30%;
							padding: 3px 0px;
							font: normal 20px/1.3 'G마켓 산스 ttf';
						}
						td {
							width: 70%;
							padding: 5px 0px;
							input[type='text'] {
								width: 100%;
								padding: 3px 0px;
								font: normal 15px/1 'g마켓 산스 ttf';
								color: #333;
								background-color: #fff;
								text-align: center;
							}
						}
					}
				}
				.agreement {
					width: 100%;
					margin-top: 10px;
					display: flex;
					flex-direction: column;
					gap: 10px;
					#terms {
						width: 100%;
						height: 100px;
						resize: none;
						color: #000;
						background-color: #fff;
						font: normal 15px/1 'g마켓 산스 ttf';
						text-align: left;
					}
					.agree_text {
						display: flex;
						gap: 10px;
						justify-content: center;
						align-items: center;
						margin-bottom: 15px;
						> label {
							font: normal 15px/1 'g마켓 산스 ttf';
						}
					}
				}
				.table_2 {
					width: 100%;
					line-height: 40px;
					> tbody {
						width: 100%;
						margin: 0 auto;
						> tr {
							width: 100%;
							> th {
								width: 100%;
								display: flex;
								justify-content: center;
								align-items: center;
								input[type='submit'] {
									width: 100px;
									height: 40px;
									border: 2px solid #333;
									border-radius: 5px;
									background-color: #fff;
									font: bold 17px/1 'g마켓 산스 ttf';
									color: #333;
									text-align: center;
									cursor: pointer;
								}
							}
						}
					}
				}
			}
		}
	}
}
