#promise {
	width: 100vw;
	height: 100vh;
	background-color: #eef4f1;
	display: flex;
	justify-content: center;
	align-items: center;
	.wrap {
		width: 1600px;
		height: 700px;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		gap: 100px;
		.title {
			width: 100%;
			height: 150px;
			h2 {
				font: bold 40px/1 'g마켓 산스 ttf';
				color: #333;
				padding-bottom: 20px;
			}
			h3 {
				font: 30px/1 'g마켓 산스 ttf';
				color: #333;
			}
		}
		.content {
			width: 100%;
			height: 400px;
			display: flex;
			justify-content: space-between;
			gap: 50px;
			.box {
				width: 400px;
				height: 400px;
				img {
					width: 100px;
					height: 100px;
				}
				h4 {
					font: bold 25px/1 'g마켓 산스 ttf';
					color: #333;
					padding-top: 50px;
				}
				span {
					font: 18px/1.3 'g마켓 산스 ttf';
					color: #333;
					padding-top: 20px;
					display: block;
				}
			}
		}
	}
}
.doctors {
	width: 100%;
	height: 100vh;
	background-color: #eef4f1;
	h1 {
		width: 100%;
		height: 10%;
		padding-top: 30px;
		text-align: center;
		font: bold 40px/1 'g마켓 산스 ttf';
		color: #333;
	}
	.wrap {
		width: 100%;
		height: 90%;
		padding: 20px;
		display: flex;
		gap: 10px;
		justify-content: space-evenly;
		flex-wrap: wrap;
		.card {
			// 카드 안에 패딩 넣지 말기!
			width: 450px;
			margin: 10px;
			display: inline-grid;
			transition: transform 0.5s;
			transform: perspective(1800px) rotateY(0deg);
			transform-style: preserve-3d;
			.card_front {
				grid-area: 1 / 1 / 1 / 1;
				width: 450px;
				height: 300px;
				backface-visibility: hidden;
				> a {
					> img {
						width: 450px;
						height: 300px;
					}
				}
			}
			.card_back {
				grid-area: 1 / 1 / 1 / 1;
				width: 450px;
				height: 300px;
				transform: rotateY(180deg);
				backface-visibility: hidden;
				> a {
					> img {
						width: 450px;
						height: 300px;
					}
				}
			}
			&:hover {
				transform: perspective(1800px) rotateY(180deg);
			}
		}
	}
}

@media screen and (max-width: 700px) {
	#promise {
		width: 100vw;
		height: 100vh;
		background-color: #eef4f1;
		display: flex;
		justify-content: center;
		align-items: center;
		.wrap {
			width: 90%;
			height: 90%;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			gap: 10px;
			.title {
				width: 100%;
				height: 100px;
				h2 {
					font: bold 30px/1 'g마켓 산스 ttf';
					color: #333;
					padding-bottom: 20px;
				}
				h3 {
					font: 20px/1 'g마켓 산스 ttf';
					color: #333;
				}
			}
			.content {
				width: 100%;
				height: 400px;
				display: flex;
				justify-content: space-between;
				gap: 20px;
				.box {
					width: 400px;
					height: 400px;
					img {
						width: 100px;
						height: 100px;
					}
					h4 {
						font: bold 20px/1 'g마켓 산스 ttf';
						color: #333;
						padding-top: 50px;
					}
					span {
						font: 15px/1.3 'g마켓 산스 ttf';
						color: #333;
						padding-top: 20px;
						display: block;
					}
				}
			}
		}
	}
	.doctors {
		width: 100%;
		height: 100vh;
		background-color: #eef4f1;
		h1 {
			width: 100%;
			height: 10%;
			padding-top: 30px;
			text-align: center;
			font: bold 40px/1 'g마켓 산스 ttf';
			color: #333;
		}
		.wrap {
			width: 100%;
			height: 90%;
			padding: 20px;
			display: flex;
			gap: 10px;
			justify-content: space-evenly;
			flex-wrap: wrap;
			.card {
				// 카드 안에 패딩 넣지 말기!
				width: 225px;
				margin: 10px;
				display: inline-grid;
				transition: transform 0.5s;
				transform: perspective(1800px) rotateY(0deg);
				transform-style: preserve-3d;
				.card_front {
					grid-area: 1 / 1 / 1 / 1;
					width: 225px;
					height: 150px;
					backface-visibility: hidden;
					> a {
						> img {
							width: 225px;
							height: 150px;
						}
					}
				}
				.card_back {
					grid-area: 1 / 1 / 1 / 1;
					width: 225px;
					height: 150px;
					transform: rotateY(180deg);
					backface-visibility: hidden;
					> a {
						> img {
							width: 225px;
							height: 150px;
						}
					}
				}
				&:hover {
					transform: perspective(1800px) rotateY(180deg);
				}
			}
		}
	}
}

@media screen and (max-width: 428px) {
	#promise {
		width: 100vw;
		height: 100vh;
		background-color: #eef4f1;
		display: flex;
		justify-content: center;
		align-items: center;
		.wrap {
			width: 90%;
			height: 90%;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			gap: 10px;
			.title {
				width: 100%;
				height: 100px;
				h2 {
					font: bold 25px/1 'g마켓 산스 ttf';
					color: #333;
					padding-bottom: 20px;
				}
				h3 {
					font: 15px/1 'g마켓 산스 ttf';
					color: #333;
				}
			}
			.content {
				width: 100%;
				height: 400px;
				display: flex;
				justify-content: space-between;
				gap: 20px;
				.box {
					width: 400px;
					height: 400px;
					img {
						width: 70px;
						height: 70px;
					}
					h4 {
						font: bold 14px/1 'g마켓 산스 ttf';
						color: #333;
						padding-top: 50px;
					}
					span {
						font: 12px/1.3 'g마켓 산스 ttf';
						color: #333;
						padding-top: 20px;
						display: block;
					}
				}
			}
		}
	}
	.doctors {
		width: 100%;
		height: 100vh;
		background-color: #eef4f1;
		h1 {
			width: 100%;
			height: 10%;
			padding-top: 30px;
			text-align: center;
			font: bold 40px/1 'g마켓 산스 ttf';
			color: #333;
		}
		.wrap {
			width: 100%;
			height: 90%;
			padding: 20px;
			display: flex;
			gap: 10px;
			justify-content: space-evenly;
			flex-wrap: wrap;
			.card {
				// 카드 안에 패딩 넣지 말기!
				width: 135px;
				margin: 10px;
				display: inline-grid;
				transition: transform 0.5s;
				transform: perspective(1800px) rotateY(0deg);
				transform-style: preserve-3d;
				.card_front {
					grid-area: 1 / 1 / 1 / 1;
					width: 135px;
					height: 90px;
					backface-visibility: hidden;
					> a {
						> img {
							width: 135px;
							height: 90px;
						}
					}
				}
				.card_back {
					grid-area: 1 / 1 / 1 / 1;
					width: 135px;
					height: 90px;
					transform: rotateY(180deg);
					backface-visibility: hidden;
					> a {
						> img {
							width: 135px;
							height: 90px;
						}
					}
				}
				&:hover {
					transform: perspective(1800px) rotateY(180deg);
				}
			}
		}
	}
}
